/*
    Black color scheme
*/
$bg: #2F2F2F;
$bg-post: #3C3C3C;
$border-post: $bg-post;
$border-img: #fff;
$link-header: #09c;
$link-header-hover: #FFF;
$link: #CCC;
$link-hover: #F90;
$text: #999;
$text-strong: #ccc;