/*
midnight color scheme
*/

$bg: #0D0D0D;
$bg-post: #027368;
$border-post: #027368;
$border-img: #f3f3f3;
$link-header: #fff;
$link-header-hover: #F2CB05;
$link: #fff;
$link-hover: #F2CB05;
$text: #f3f3f3;
$text-strong: #f3f3f3; 
$bg-code: #0D0D0D;
$bg-inline-code: $bg;
$text-inline-code: #fff;
