/*
    White color scheme
*/
$bg: #F3F3F3;
$bg-post: #FFF;
$border-post: #ddd;
$border-img: #ddd;
$link-header: #222;
$link-header-hover: #0087C1;
$link: #222;
$link-hover: #0087C1;
$text: #666;
$text-strong: #222; 
$bg-code: #2F2F2F;
$bg-inline-code: $bg;
$text-inline-code: #222;